body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #2C6E82;
        }
        header {
            color: white;
            padding: 10px 0;
            text-align: center;
            background-color: #2C6E82 ;
            padding-top: 10px;
        }
        h1 {
            margin: 0;
        }   

        .Tools {
            display: flex;  
            align-items: flex-start;
            gap: 10px;               
            padding: 10px;
        }

        aside {
            background-color: #82572C;
            padding: 10px;
            border-radius: 8px;
            color: white;
            text-align: center;
            width: 150px;         
            flex-shrink: 0;       
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .Canvas {
            flex: 1;                
            display: flex;
            justify-content: center;
            align-items: center;

        }

        canvas {
         background-color: white;
         border-radius: 1px;
        }

        .logo-container {
          align-items: center;
          text-align: center;
          z-index: 2;
          margin-bottom: 10px;
        }

        .pulogo {
            width: 100px;
            height: 100px;
        }
        
        #artName {
            color: white;
            font-size: 14px;
            margin-top: 5px;
        }

        #popup {
            display: none;
            inset: 0;
            background: rgba(142, 142, 142, 0.4);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            z-index: 9999;
        }
        
        .popup-content {
            background: #82572C;
            color: white;
            width: 250px;
            height: 80px;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            z-index: 1;
            position: relative;
        }

        #savePopup {
            display: none;
            inset: 0;
            background: rgba(142, 142, 142, 0.4);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            z-index: 9999;
       }

        #savepopup .popup-content {
            background: #5F9B9D;
            color: white;
            width: 300px;
            height: 80px;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }